@import 'apps/mail/pages/email-app.css';
@import './apps/keep/pages/keep-app.css';
@import url('./cmps/header.css');

/*helpers*/
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.clean-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clean-link {
  text-decoration: none;
  color: inherit;
}

/* USER MSG */

.user-msg {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 200px;
  padding: 10px;
}

.success {
  background-color: rgb(37, 206, 37);
}

.error {
  background-color: red;
}
