@import "../cmps/email-preview.css";
@import "../cmps/email-status.css";
@import "../cmps/email-list.css";
@import "../cmps/email-list-item.css";

.email-app{
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
}

/************email container*******************/
.email-container{
    position: fixed;
    /* background-color: mediumseagreen; */
    /* border-radius: 10px; */
    /* padding: 20px; */
    /* margin: 0; */
    /* 580*450 */
}
.email-container>*{
    padding-left: 20px;
    padding-right: 20px;
}

.email-container *{
    line-height: 40px;
}
@media screen and (max-width: 500) {
    
}

@media screen and (max-width: 980) {
    .email-container{
        /* line-height: 40px; */
    }
}

@media screen and (max-width: 1130) {
    
}


/* BP 1130 980 500 */

.email-container .message{
    background-color: #404040;
    color: white;
    border-radius: 10px 10px 0 0 ;
}

.email-container .subject{
    color: #777777;
}

.email-container .email-button{
    background-color: #1a73e8;
    color: white;
}
/*************/
.bold {
    font-weight: bold;
}

.controls{
    width: 250px;
    background-color: lightgreen;
}

.email-header{
        height: 60px;
}

/*email filter*/
.email-filter input{
    height: 46px;
    width: 44%;
    border-radius: 7px;
    margin-bottom: 7px;
    /* color: green; */
}




