@import "../cmps/email-preview.css";
@import "../cmps/email-status.css";

.email-app{
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
}

.email-compose{
    position: fixed;
    background-color: mediumseagreen;
}

.bold {
    font-weight: bold;
}

.controls{
    width: 250px;
    background-color: lightgreen;
}

/*email list*/
.email-list{
    flex: 1;
    background-color: lightblue;
    list-style: none;
    padding: 10px;
}

.email-list .select{
    border: 1px solid black;
    height: 15px;
    width: 15px;
}

.email-list li {
    height: 30px;
    border-bottom: 1px solid grey;
    
    align-items: center;
    justify-content: flex-end
}

.email-list li:first-child{
    margin-top: 1px solid grey;;
}

.email-list .email-link{
    flex: 1;
    flex-basis: 1;

}

/*email filter*/
.email-filter input{
    height: 46px;
    width: 44%;
    border-radius: 7px;
    margin-bottom: 7px;
    /* color: green; */
}


