@import "../cmps/email-preview.css";
@import "../cmps/email-status.css";
@import "../cmps/email-list.css";
@import "../cmps/email-list-item.css";

.email-app{
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
}

/************email container*******************/
.email-container{
    position: fixed;
    /* background-color: mediumseagreen; */
    /* border-radius: 10px; */
    /* padding: 20px; */
    /* margin: 0; */
    /* 580*450 */
    left: 50%;
    transform: translate(-50%, 0);
    width: 80vw;
    border: 1px solid rgb(245, 231, 231);
}

.email-container textarea{
    display: block;
    width: 75vw;
}
@media screen and (min-width: 550px){
    .email-container textarea{
        width: 500px;
            margin-left: auto;
            margin-right: auto;

    }
}

@media screen and (min-width: 825px) {
    .email-container textarea{
        /* overflow: hidden; */
        width: 80%;
    }
}

.email-container>*{
    padding-left: 20px;
    padding-right: 20px;
}

.email-container *{
    line-height: 40px;
}
@media screen and (max-width: 500) {
    
}

@media screen and (max-width: 980) {
    .email-container{
    }
}

@media screen and (max-width: 1130) {
    
}


/* BP 1130 980 500 */

.email-container .message{
    background-color: #404040;
    color: white;
    border-radius: 10px 10px 0 0 ;
}

.email-container .subject{
    color: #777777;
}

.email-container .email-button{
    background-color: #1a73e8;
    color: white;
}
/*************/
.bold {
    font-weight: bold;
}

/*controls*/
.controls{
    width: 250px;
    padding: 10px;
}

.controls *{
    height: 23px;
}

.controls *:hover{
    background-color: #f5f7f7;
}
.controls *:active{
    background-color: lightpink;
    color: red;
}



.email-header{
    padding:10px;
    align-items: center;
    height: 60px;
    justify-content: flex-end;
    background-color: rgb(236, 202, 8);
}

/*for small screen*/
@media screen and (max-width: 825px) {
    .email-header{
        width: 70vw;
    }
    
}

.email-compose .x{
    /* justify-self: right; */
    position: relative;
    right: -80%;
    color: #b3b3b3;
}

.email-compose .x:hover{
    background-color: #737373;
    color: white;
}

.email-filter{
    flex: 1;
    
}
.email-filter input{
    /* width: 44%; */
    height: 46px;
    width: 100%;
    flex-basis: 1;
    border-radius: 7px;
    margin-bottom: 7px;
    /* color: green; */
}
.email-header .logo{
    width: 100px
}


.email-header .sort{
    height:22px;
    margin-left: 10px;
}

.email-header .mob-menu img{
    height: 46px;
}

.controls{
    display: none;
}

/*for big screen*/
@media screen and (min-width: 825px) {
    .email-header .mob-menu{
        display: none;
    } 
    .controls{
        display: block;
    }

    .email-header .logo {
        width: 250px; /*same as .controls*/
    }
    
}




