

.email-preview .show-all{
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    background-color: gray;
    color: white;
    height: 30px;
    text-align: center;
}

.email-preview .long-text{
    overflow: hidden;
    word-wrap: break-word;
}