/*email list*/
.email-list{
    flex: 1;
    /* background-color: lightblue; */
    list-style: none;
    padding: 10px;
    overflow-y: scroll;
    width: 95vw;
}

@media screen and (min-width: 825px) {
    .email-list{
        max-width: 70vw;
        margin-top: 35px;
    }
}



.email-list .select{
    border: 1px solid black;
    height: 15px;
    width: 15px;
}



.email-list li:first-child{
    margin-top: 1px solid grey;;
}

.email-list .email-link{
    flex: 1;
    flex-basis: 1;

}

.email-list .starred {
    color: #f4b400 ;
}

