.email-filter{
    flex: 1;
    
}
.email-filter input{
    /* width: 44%; */
    height: 46px;
    width: 100%;
    flex-basis: 1;
    border-radius: 3px;
    margin-bottom: 7px;
    background-color: #f1f3f4;
    color: #6f6f70;
    outline: none;
    border: none;
    font-size: 18px;
    /* color: green; */
}