.note-todos-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.note-todos-form .input-button-wrap {
  display: flex;
  justify-content: space-between;
}

.note-todos-form .input-button-wrap input {
  border: 0;
  font-size: 18px;
}

.note-todos-form .todos-options {
  display: flex;
  justify-content: space-between;
}
.note-todos-form .todos-options .add-delete-wrap {
  display: flex;
  gap: 10px;
}

.note-todos-form i {
  color: #797979;
  border-radius: 50%;
  padding: 5px;
}

.note-todos-form i:hover {
  color: #4e4e4e;
  border-radius: 50%;
  background-color: #a8a8a8;
}
