@import url('../cmps/keep-note.css');
@import url('../cmps/note-list.css');
@import url('../cmps/pick-color.css');
@import url('../cmps/note-txt.css');
.keep-app {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
